body {
    font-size: 24px;
}
.full-window {
    background-color: lightskyblue;

    /*min-width: 660px;*/
}
#map {
    width: 600px;
    height: 350px;
}
.comp-city-panel {
    text-align: center;
    background-color: white;
    color: lightskyblue;
    /*border: solid lightskyblue 1px;*/
    padding: 20px;
    font-size: 24px;
}
.list-name {
    border-bottom: solid lightskyblue 1px;
}
.list-style {
    text-align: center;
    background-color: white;
    color: black;
    /*border: solid black 1px;   */
    font-size: 16px;
    height:100px;
    overflow-y:scroll;
}
.player-input {
    width: 100%;
    height: 78px;
    font-size: 24px;
    /*padding-left: 10%;*/
    text-align: center;
    border: none;
    
}
.player-input::-webkit-input-placeholder{
    opacity: 0.3;

}
.player-list-input {
    height:100px;
    overflow-y:scroll;
    
}
/*.voice-button-container{
    width: 20%;
    background-color: lightskyblue;*/

/*
}*/
.voice-button {
width: 80px;
    position:absolute; 
    top: 31px;
    right: 31px;
    background-image: url('mic-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    background-color:white;
    opacity: 0.3;

    border: 2px solid black;
    border-radius: 100%;
    width: 48px;
    height: 48px;

}
/*.voice-button img{
    height: 30px; 
    margin: 22px;
    opacity: 0.2;
}*/
/*.player-city-panel{
    width: 80%;
}*/

@media (max-width: 767px){
    #map{
        width: 420px;
    }
    .voice-button{
        top: 228px;
        right: 25px;  
    }
}
@media (max-width: 520px){
    #map{
        width: 375px;
    }
    .player-input::-webkit-input-placeholder{
    font-size: 20px;
}
}